@model List<HospitalProject.Models.PatientsRegistration>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients List</h2>
<table class="table">
    <!-- Displaying heading of table-->
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <!-- Displaying only name and email  of patients in table-->
    @foreach(var patients in Model)
    {
        <tbody>
            <tr>
                <!-- keeping firstname as link for admin to click on link and view detials of particular person-->
                <td><a href="/PatientsRegistration/Show/@patients.id">@patients.firstname</a></td>
                <td>@patients.email</td>
                <td>
                    <a href="/PatientsRegistration/Edit/@patients.id" class="btn btn-primary stretched-link">Edit</a>
                    <a href="/PatientsRegistration/DeleteConfirm/@patients.id" class="btn btn-primary stretched-link">Delete</a>
                </td>
            </tr>
        </tbody>
    }
</table>

