@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/Content/images/banner.jpg")" class="d-block w-100" alt="Slider Image">
            </div>
        </div>
    </div>
</section>