@{
    ViewBag.Title = "Create Page";
}
@model HospitalProject.Models.ViewModels.PublicationViewModel

<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Publications", FormMethod.Post))
{
<div id="update-article-table">
    <h2>Create New Publication</h2>
    <table>
        <tr>
            <td>Title</td>
            <td>@Html.TextBoxFor(m => m.Title)</td>
        </tr>
        <tr>
            <td>Body</td>
            <td>@Html.TextAreaFor(m => m.Body)</td>
        </tr>

    </table>
    <input type="submit" value="Create" />
</div>
}
