@{
    ViewBag.Title = "Edit Page";
}
@model HospitalProject.Models.ViewModels.PublicationViewModel

<link href="~/Content/Site.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "Publications", FormMethod.Post))
{
    <div id="update-article-table">
        <table>
            <tr>
                <td>Title</td>
                <td>@Html.TextBoxFor(m => m.Title)</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>@Html.TextAreaFor(m => m.Body)</td>
            </tr>
        </table>
        <input type="submit" value="Save" />
    </div>
}