body {
    overflow-x: hidden;
    font-size: 1.05rem;
}
p {
    letter-spacing: .7px;
}
h1, h2, h3, h4, h5, h6 {
    color: #5b5b5b;
}
.white-font {
    color: #fff;
}
.container-fluid {
    width: 100vw;
    padding: 0;
}

.btn-primary {
    background-color: #0b665d;
    border: 1px solid #0b665d;
    color: #fff;
    border-radius: 0;
}

.btn-primary-outline {
    border: 1px solid #0b665d;
    color: #0b665d;
    background: #fff;
}

.btn-primary:hover {
    border: 1px solid #0b665d;
    color: #0b665d;
    background: #fff;
}

.btn-secondary {
    color: #0b665d;
    background: #fff;
}

.btn-secondary:hover {
    border: 1px solid #fff;
    background: #0b665d;
}

.btn-secondary-outline {
    border: 1px solid #fff;
    color: #fff;
}

.btn-secondary-outline:hover {
    color: #0b665d;
    background: #fff;
}

.notification {
    color: #898989;
}

input {
    border-radius: 0 !important;
}

.input-group-text {
    background: #fff;
    border-radius: 0;
}

.nav-item {
    border-radius: 0 !important;
    border: 1px solid #898989;
    border-left-width: 0;
    padding: 15px 0;
}

.main-menu .nav-item:first-child {
    border-left-width: 1px;
}

.nav-item:hover {
    background: #0b665d;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: #0b665d;
}

a {
    color: #5b5b5b;
}


main {
    height: 100vh;
}
.form-control:focus {
    color: #0b665d;
    background-color: #fff;
    border-color: #0b665d82;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0b665d54;
}

footer {
    color: #5b5b5b;
}
.quick-link:hover {
    color: #0b665d;
    text-decoration: underline;
}

.btn {
    border-radius: 0;
}

.btn-cta {
    padding: 10px 40px;
    font-size: 1.2rem;
}
.banner-caption {
    width: 30vw;
    color: #fff;
    position: absolute;
    top: 30%;
}
.fa-search {
    color: #ccc;
}