body {
    overflow-x: hidden;
}


.container-fluid {
    width: 100vw;
    padding: 0;
}

.btn-primary {
    background-color: #0b665d;
    border: 1px solid #0b665d;
    border-radius: 0;
}

.btn-primary:hover {
    border: 1px solid #0b665d;
    color: #0b665d;
    background: #fff;
}

.notification {
    color: #898989;
}

input {
    border-radius: 0 !important;
}

.input-group-text {
    background: #fff;
    border-radius: 0;
}

.nav-item {
    border-radius: 0 !important;
    border: 1px solid #898989;
    border-left-width: 0;
    padding: 15px 0;
}

.main-menu .nav-item:first-child {
    border-left-width: 1px;
}

.nav-item:hover {
    background: #0b665d;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: #0b665d;
}

a {
    color: #5b5b5b;
}


main {
    height: 100vh;
}
.form-control:focus {
    color: #0b665d;
    background-color: #fff;
    border-color: #0b665d82;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0b665d54;
}

footer {
    color: #5b5b5b;
}
.quick-link:hover {
    color: #0b665d;
    text-decoration: underline;
}